body {
  padding-top: 67px;
}

p {
  clear: both;
  margin-bottom: 1em;
  margin-top: 0;
}

.element-click {
  background-color: #aaabff;
  border-radius: 5px;
  box-shadow: #aaabff 0px 0px 0px 2px;
}

.container {
  max-width: 1264px;
  width: 100%;
  background: none;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.highlight {
  background-color: #fcddec;
  border-radius: 5px;
  box-shadow: #fcddec 0px 0px 0px 2px;
}

.focus {
  background-color: #a5e9ff;
  border-radius: 5px;
  box-shadow: #a5e9ff 0px 0px 0px 2px;
}

.hover {
  background-color: #fcddec;
  border-radius: 5px;
  box-shadow: #fcddec 0px 0px 0px 2px;
}

#genie-hover-modal {
  display: none;
  width: 245px;
  height: 50px;
  z-index: 9999;
}

#genie-hover-modal.show {
  display: flex;
  position: absolute;
  border-radius: 10px;
  background-color: #f1f5f8;
  align-items: center;
  justify-content: space-evenly;
}

#genie-url-preview-modal.show {
  position: absolute;
  top: -20px;
  right: 0px;
  border-radius: 10px;
  background-color: #aaabff;
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: right;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  opacity: 0.8;
}

.modal-button {
  width: 82px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
}

.modal-button#genie-mode-link {
  border: 1px solid #6466ff;
  background-color: #6466ff;
  color: white;
}

.modal-button#genie-mode-memo {
  border: 1px solid #d0deeb;
  background-color: #d0deeb;
  color: #1a2653;
}

.hide {
  display: none;
}
